@import '../assets/css/variables.scss';
.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  z-index: 1000;
  .progress-bar {
  height: 100%;
  width: 0%;
  background-color: $c_primary;
  transition: $transition;
}
}

